<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta name="Author" content="Pyramid Consulting Vietnam" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <title>Building Bell</title>
    <link rel="stylesheet" href="~/Content/css/global.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/master.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/smaller.css" media="only screen and (max-width: 1080px)" />
    <!--j-carousel-->
    <link rel="stylesheet" href="~/Content/css/j-carousel.css" type="text/css" />
    <!--combobox-->
    <link type="text/css" href="~/Content/css/combobox/jquery.jscrollpane.css" rel="stylesheet" media="all" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/combobox/combobox.css" media="all" />
    <link type="text/css" rel="stylesheet" href="~/Content/css/combobox/combobox-theme.css" media="all" />
    <link rel="stylesheet" href="~/Content/css/combobox/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/combobox/ui.theme.css" type="text/css" media="all" />
    <!--combobox-->
</head>
<body class="BlueTheme">
    <div id="outer">
        <div id="header">
            <div class="Logo">
                <a href="/HomeCaseStudy" title="Building Bell">
                    <img src="~/Content/images/logo.png" alt="Building Bell Logo" />
                </a>
                <h1>
                    Building Bell
                </h1>
            </div>
            <!--Top Navigation Bar-->
            @Html.Sitecore().Placeholder("top_nav_bar")
            <div class="BlockBanner01">
                <a href="#" title="Ads banner" target="_blank">
                    <img src="~/Content/images/ads-banner-01.jpg" alt="Ads banner" title="Ads banner" />
                </a>
            </div>
        </div>
        <!--Rendering Body-->
        @Html.Sitecore().Placeholder("main_body")
        <div id="Footer">
            <div id="FooterContent">
                <div class="FooterBlock01">
                    <h3 class="FooterHeading">
                        About
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in velit id metus
                        dignissim tincidunt vitae vitae nulla. In tortor enim, aliquam nec semper in, rhoncus
                        faucibus augue,...
                    </p>
                </div>
                <div class="FooterBlock02">
                    <p class="CopyrightText">
                        &copy; @DateTime.Now.Year Buildingbell &ndash; <a href="mailto:info@buildingbell.com" title="Send mail to info@buildingbell.com">
                            info@buildingbell.com
                        </a> &ndash; Legal information
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Content/js/jquery-core.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui-core.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.mediaqueries.js"></script>
    <!--jCarousel-->
    <script type="text/javascript" src="~/Content/js/j-carousel.js"></script>
    <script type="text/javascript" src="~/Content/js/common.js"></script>

    <!--auto complete-->
    <script src="~/Content/js/combobox/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="~/Content/js/combobox/jquery.ui.button.js" type="text/javascript"></script>
    <script src="~/Content/js/combobox/jquery.ui.position.js" type="text/javascript"></script>
    <script src="~/Content/js/combobox/jquery.ui.autocomplete.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Content/js/combobox/j-mousewheel.js"></script>
    <script type="text/javascript" src="~/Content/js/combobox/jquery.jscrollpane.js"></script>
    <!--auto complete-->
</body>
</html>
