<div id="content">
    <div id="innerContent01">
        <div id="innerContent02">
            <div id="mainContent">
                <!-- Change -->
                <h2 class="PageHeading DarkScheme">Register</h2>
                <!-- Change -->
                @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
                {
                    @Html.Sitecore().FormHandler("Home", "Register")
                    <fieldset>
                        <div class="HrReplacement HrStyle02 HrSpacing01"><hr class="Hidden" /></div>

                        <div class="FormItem FormItemSpacing01 LightScheme ">
                            <label class="TextLabel" for="email">First Name: </label>
                            <div class="TextInputWrapper01 TextInputSize01">
                                <div class="TextInputWrapper02">
                                    <input type="text" name="firstName" id="firstName" class="TextInput LightScheme" required />
                                </div>
                            </div>
                            <div class="Clr"></div>
                        </div>
                        <div class="FormItem FormItemSpacing01 LightScheme ">
                            <label class="TextLabel" for="email">Last Name: </label>
                            <div class="TextInputWrapper01 TextInputSize01">
                                <div class="TextInputWrapper02">
                                    <input type="text" name="lastName" id="lastName" class="TextInput LightScheme" required />
                                </div>
                            </div>
                            <div class="Clr"></div>
                        </div>
                        <div class="FormItem FormItemSpacing01 LightScheme ">
                            <label class="TextLabel" for="email">Email address: </label>
                            <div class="TextInputWrapper01 TextInputSize01">
                                <div class="TextInputWrapper02">
                                    <input type="email" name="email" id="email" class="TextInput LightScheme" required />
                                </div>
                            </div>
                            <div class="Clr"></div>
                        </div>
                        <div class="FormItem FormItemSpacing01 LightScheme ">
                            <label class="TextLabel" for="email">Password: </label>
                            <div class="TextInputWrapper01 TextInputSize01">
                                <div class="TextInputWrapper02">
                                    <input type="password" name="password" id="password" class="TextInput LightScheme" required />
                                </div>
                            </div>
                            <div class="Clr"></div>
                        </div>
                        <div class="FormItem FormItemSpacing01 LightScheme ">
                            <label class="TextLabel" for="email">Re-Password: </label>
                            <div class="TextInputWrapper01 TextInputSize01">
                                <div class="TextInputWrapper02">
                                    <input type="password" name="rePassword" id="rePassword" class="TextInput LightScheme" required />
                                </div>
                            </div>
                            <div class="Clr"></div>
                            <p class="NewsLetterError MarginForgot" id="errorRePassword">@ViewBag.RePasswordIncorrect</p>
                        </div>

                        <div class="HrReplacement HrStyle01"><hr class="Hidden" /></div>

                        <div class="ButtonGroup ButtonGroupSpacing01 PaddingButton">
                            <div class="FormButtonWrapper01">
                                <div class="FormButtonWrapper02">
                                    <input class="CommonFormBtn" type="submit" title="Register" value="Register" />
                                </div>
                            </div>
                            <div class="FormButtonWrapper01">
                                <div class="FormButtonWrapper02">
                                    <input class="CommonFormBtn" type="reset" title="Cancel" value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                 }
            </div>
        </div>
    </div>
</div>
@*<script>
    function checkValidation() {
        var password = document.getElementById("password").value;
        var rePassword = document.getElementById("re-password").value;
        if (password == rePassword) {
            return true;
        } else {
            document.getElementById("errorRePassword").innerHTML = "Re-Password Incorrect!!";
        }
    }
</script>*@