<div id="content">
    <div id="innerContent01">
        <div id="innerContent02">
            <div id="mainContent">
                <!-- Change -->
                <h2 class="PageHeading DarkScheme">Set New Password</h2>
                <!-- Change -->
                @using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
                {
                    @Html.Sitecore().FormHandler("Home", "SetNewPassword")
                    <fieldset>
                        <div class="HrReplacement HrStyle02 HrSpacing01"><hr class="Hidden" /></div>
                        <div class="FormItem FormItemSpacing01 LightScheme ">
                            <label class="TextLabel" for="email">New Password: </label>
                            <div class="TextInputWrapper01 TextInputSize01">
                                <div class="TextInputWrapper02">
                                    <input type="password" name="newPassword" id="newPassword" class="TextInput LightScheme" required />
                                </div>
                            </div>
                            <div class="Clr"></div>
                        </div>
                        <div class="FormItem FormItemSpacing01 LightScheme ">
                            <label class="TextLabel" for="email">OTP: </label>
                            <div class="TextInputWrapper01 TextInputSize01">
                                <div class="TextInputWrapper02">
                                    <input type="number" name="otp" id="otp" class="TextInput LightScheme" required />
                                </div>
                            </div>
                            <div class="Clr"></div>
                            <p class="NewsLetterError MarginForgot" id="InvalidOTP">@ViewBag.OTPIncorrect</p>
                        </div>
                        <div class="HrReplacement HrStyle01"><hr class="Hidden" /></div>

                        <div class="ButtonGroup ButtonGroupSpacing01 PaddingButton">
                            <div class="FormButtonWrapper01">
                                <div class="FormButtonWrapper02">
                                    <input class="CommonFormBtn" type="submit" title="Submit" value="Submit"/>
                                </div>
                            </div>
                            <div class="FormButtonWrapper01">
                                <div class="FormButtonWrapper02">
                                    <input class="CommonFormBtn" type="reset" title="Cancel" value="Cancel" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
@*<script>
        function confirmOTP(otp) {
            var confirm = document.getElementById("otp").value;
            if (confirm == otp) {
                return true;
            } else {
                document.getElementById("InvalidOTP").innerHTML = "OTP Incorrect!!";
            }
        }
</script>*@