<div id="content">
    <div id="innerContent01">
        <div id="innerContent02">
            <div id="mainContent">                
                <div class="HrReplacement HrStyle02"><hr class="Hidden" /></div>
                <div class="MapContainer">
                    <img src="~/Content/images/google-map-fpo.jpg" alt="Google map" title="Google map" />
                </div>
                <div class="HrReplacement HrStyle01 NoSpacing"><hr class="Hidden" /></div>
            </div>
        </div>
    </div>
</div>